/AccommodationSearch/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/test/nbproject/private/
/test/build/
/halo/nbproject/private/
/halo/build/
/AccommodationSearch-v1/target/
/Tests/nbproject/private/
/Tests/build/
/Tests/dist/
/Bookstore/nbproject/private/
/Bookstore/build/
