* {
    font-family: serif;
}
.bg-light {
    background-color: transparent !important;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
}
.carousel-caption h5 {
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-caption a {
    text-decoration: none;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}
#sign-up{
    color: #ff6600;
}
#sign-in{
    background-color: #ff6600;
    border-radius: 10px;
}
#sign-in:hover,#sign-in:focus{
    color: black;
}
#sign-up:hover,#sign-up:focus{
    color: black;
}
.navbar-nav a {
    font-size: 18px;
    font-weight: bold;
}
.navbar-light .navbar-brand {
    color: #ff6600;
    font-size: 25px;
    font-weight: bold;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ff6600;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff6600;
}
.w-100 {
    height: 100vh;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }
    .carousel-caption {
        bottom: 165px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
}
